.flex {
  flex: 1;
}

.sign-out-button {
  margin-left: 32px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;

  .card {
    padding: 16px;

    .mat-card {
      background: #fafafa;
      cursor: pointer;

      &:hover {
        background: rgba(#3f51b5, .4);
      }

      &.active {
        animation: 3s linear infinite blink;
        background: rgba(#3f51b5, .4);
      }
    }
  }
}

@keyframes blink {
  0% {
    background: rgba(#3f51b5, .4);
  }
  50% {
    background: rgba(#3f51b5, .1);
  }
  100% {
    background: rgba(#3f51b5, .4);
  }
}
