.flex {
  flex: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 16px;

  .card {
    padding: 16px;

    .mat-card {
      background: #fafafa;
      cursor: pointer;
      width: 200px;
      height: 200px;

      &:hover {
        background: #eaeaea;
      }
    }
  }
}
