<ng-container *ngIf="{active: active$ | async, activities: activities$ | async} as data">
  <section class="cards" *ngIf="data.activities?.length">
    <div class="card" *ngFor="let activity of data.activities">
      <mat-card (click)="toggle(data.activities, activity, data.active)" [class.active]="data.active && data.active.activityId === activity.id">
        <mat-card-title>{{activity.name}}</mat-card-title>
        <mat-card-subtitle>time: {{showTime(activity, data.active) | appTime}}</mat-card-subtitle>
      </mat-card>
    </div>
  </section>
  <section class="no-content" *ngIf="!data.activities?.length">
    <h3>Don't you have anything to track yet? <br/>Just <a href="" (click)="addActivity($event)">Create</a> Activity or go to the <a routerLink="/edit">Edit Mode</a>.</h3>
  </section>
</ng-container>
