<mat-toolbar color="primary">
  <span>TrackIt</span>
  <span class="flex"></span>
  <button mat-icon-button (click)="signOut()"><mat-icon>logout</mat-icon></button>
</mat-toolbar>
<section class="cards">
  <div class="card">
    <mat-card>
      <mat-card-title>Work coding</mat-card-title>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <mat-card-title>Work meetings</mat-card-title>
    </mat-card>
  </div>

  <div class="card">
    <mat-card>
      <mat-card-title>Leetcode</mat-card-title>
    </mat-card>
  </div>
</section>
